/* Variables
---------------------------------- */

/* Colors
---------------------------------- */
$positive:                                #3D78D8    !default;
$white:                                   #fff       !default;

/* Typography
---------------------------------- */
$color-a:                                 $positive  !default;
$color-a-hover-or-focus:                  #2C5FB3    !default;
$color-mark:                              $white     !default;
$color-mark-background:                   $positive  !default;
$color-table-th:                          $positive  !default;
$color-table-th-border:                   $positive  !default;   

/* Collapse
---------------------------------- */
$color-collapse-panel-heading:            $white     !default;
$color-collapse-panel-heading-background: $positive  !default;

/* Boxes
---------------------------------- */
$color-box:                                $positive !default;
$color-box-border:                         $positive !default;
$color-box-background:                     $white    !default;

/* Pages
---------------------------------- */


